/*
#header {
  margin: 0 auto;
	height: 100px;
  width: 700px;
	position: relative;
}
  #logo {
    font-size: 20px;
    font-weight: bold;
		position: absolute;
		bottom: 6px;
  }*/

.section_container {
	color: #555;
/*  background-color: #666600;*/
	background-color: #fff;
  margin: 60px auto 0;
	width: 100%;
  padding: 20px 0 174px;
}
  .section {
    margin: 0 auto;
    width: 700px;
  }
		.section .left_col {
			width: 435px;
		}
  .section_title {
    float: left;
    font-weight: bold;
    margin: 0;
    width: 150px;
  }
  .section_content {
    float: left;
  } 
 	.section .description {
		margin: 24px 0 0 120px;
		width: 590px;
		line-height: 22px;
	}
	
.description #logo {
	font-size: 31px;
	margin-bottom: 13px;
	font-family: "Trade-Gothic-Bold-Con", sans-serif;
}
.description .desc {
	margin-top: 10px;
	font-size: 23px;
	line-height: 28px;
/*	font-family: "Trade-Gothic-Eig-Con", sans-serif;*/
		font-family: "Trade-Gothic-Bold-Con", sans-serif;
}

#video_container {
	position: relative;
	width: 463px;
	margin-top: 13px;
}
  #video_container .video_desc {
  	position: absolute;
  	right: 0px;
  	bottom: -2px;
  	font-size: 0.9em;
  }

#video {
	margin: 0 10px 0 0;
  border:2px solid #ffff00;
}

#quote {
	margin: 7px auto -2px;
	text-align: center;
}
	#quote .author {
		font-size: 16px;
	}
		
#magnet_image {
	margin: 33px 0 25px 36px;
}
  
#download_magnet {
	font-size: 23px;
	margin-left: 33px;
	padding: 10px	30px 6px 30px;
	background-color: #ffff00;
}

#visit_wall {
	width: 580px;
	margin-left: 120px;
	color: #ffff00;
}
#visit_wall a {
	text-decoration: underline;
	color: #ffff00;
}
#author {
	margin: 10px 0 20px 120px;
}
#author a{
	text-decoration: underline;
	color: #ffff00;
}

a#visit_magnet {
	margin: 0 0 0 -15px;
	width: 280px;
	height: 56px;
	overflow: hidden;
	display: block;
	background: url(../assets/images/visit_magnet.png) no-repeat 0 0;
}
a#visit_magnet:hover {
	background-position: 0 -56px;
}

#footer {
	margin: 0 auto 0;
/*	width: 1000px;*/
	width: 90%;
  padding: 10px 0 20px;
	color: rgba(0,0,0,0.5);
}
#footer a{
	text-decoration: underline;
}

/* Disabling Logs
------------------ */
#logs_index_page {
  margin: 10px auto;
  width: 1000px;
}
#logs_index_page h1 {
  margin: 20px 0 20px 0;
}
#logs_index_page table {
  margin-top: 20px;
  border-collapse: collapse;
}

#logs_index_page th {
  text-align: left;
  padding: 3px 5px 3px 5px;
  background-color: #fdfdfd;
  border-bottom: 1px solid #333;
}
  #logs_index_page th.small {
    width: 150px;
  }
#logs_index_page td {
  padding: 3px 5px 3px 5px;
  margin: 0;
}
#logs_index_page tr:nth-child(odd) {
  background-color: #fafafa;
}

/* Misc
------------------ */

.without_bgcolor {
  background: none;
}
.with_bgcolor {
  background-color: #fff;
}

.left {
  float: left;
}
.right {
	float: right;
}
.hidden {
	display: none;
}