* {
  margin: 0;
  padding: 0;
}

@font-face { 
	font-family: Trade-Gothic; 
	src: url('../assets/font/TradeGot.ttf'); 
}

@font-face { 
	font-family: Trade-Gothic-Bold; 
	src: url('../assets/font/TradeGotBol.ttf'); 
}

@font-face { 
	font-family: Trade-Gothic-Bold-Con; 
	src: url('../assets/font/TradeGotBolConTweObl.ttf'); 
}

@font-face { 
	font-family: Trade-Gothic-Eig-Con; 
	src: url('../assets/font/TradeGotConEig.ttf'); 
}

body {
	font-family: "Trade-Gothic-Bold", sans-serif;
  font-size: 19px;
  text-align: left;

	background-color: #ffff00;
/*	overflow: hidden;*/
}

a {
	color: rgba(0,0,0, 0.5);
  text-decoration: none;
}
a:hover { color: #999; }

img {
/*	border: 1px solid #eee;*/
}

#update {
	background-color: rgba(0, 0, 0, 0.5);
	margin: 60px auto 10px auto;
	padding: 12px 0px 5px 0px;
	width: 90%;
	border-bottom: 1px dashed #ffff00;
	color: #ffff00;
}
#update #info {
	width: 90px;
	margin-left:60px;
	font-family: "Trade-Gothic-Bold", sans-serif;
}

#update #timestamp {
	font-family: "Trade-Gothic-Eig-Con", sans-serif;

}


#main {
	border-bottom: 1px dashed #ffff00;
	background-color: rgba(0,0,0, 0.5);
	margin: 0px auto 60px auto;
	padding: 30px 0 0 0;
	width: 90%;
/*	border-top: 1px solid #ffff00;*/
}

#title {
	position: fixed;
	top: 0px;
	left: 30px;
	display: inline-block;
	padding: 13px 9px 7px 9px;
}

#menu {
	color: #333;
	position: fixed;
	top: 0px;
	right: 150px;
}

#menu #logo {
	font-family: "Trade-Gothic-Bold", sans-serif;
	display: inline-block;
	padding: 8px 9px 7px 9px;
	margin-right: 3px;
}
#menu .item {
	font-family: "Trade-Gothic-Eig-Con", sans-serif;
	display: inline-block;
	margin-left: 4px;
}

.like_box {
	color: #ffff00;
	width: 310px;
	float: left;
	padding-bottom: 30px;
}

.like_box .count {
	float: left;
	width: 80px;
	text-align: right;
	padding: 12px 10px 0 0;
	font-family: "Trade-Gothic-Eig-Con", sans-serif;
	font-size: 23px;
}
.like_box .info {
	float: left;
	width: 200px;
	text-align: left;
}
.like_box .like {
	font-family: "Trade-Gothic-Bold-Con", sans-serif;
line-height: 38px;
	font-size: 43px;
}

.like_box .city {
	font-family: "Trade-Gothic-Eig-Con", sans-serif;	
	font-size: 15px;
	margin-top: 4px;
	line-height: 17px;
}

/* Misc
------------------ */
.left {
	float:left; 
}
.clear {
	clear: both;
}
.hidden {
  display: none;
}

.clear_fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* IE7 Hack */
.clear_fix {
  clear: both;
  *display: inline-block;
}