* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inconsolata",monospace;
  font-size: 16px;
  text-align: left;
  color: #4d4d4d;
/*	overflow: hidden;*/
}

a {
  color: #666666;
  text-decoration: none;
}
a:hover { color: #000000; }

img {
	border: 1px solid #eee;
}

#title {
	position: fixed;
	top: 0px;
	left: 30px;
	display: inline-block;
	padding: 13px 9px 7px 9px;
}

#menu {
	position: fixed;
	top: 0px;
	right: 200px;
}

#menu #logo {
	background-color: #F9FF03;
	display: inline-block;
	padding: 13px 9px 7px 9px;
	margin-right: 3px;
}
#menu .item {
	display: inline-block;
	margin-left: 4px;
}

#canvas {
	width: 900px;
	height: 600px;
	margin: 80px auto 30px auto;
	background-color: #f5f5f5;
	position: relative;
}


.like {
	margin: auto;
	display: inline-block;
	border: 1px solid #ff0000;
}

.like_box {
	position: absolute;
	border: 1px solid #eee;
	text-align: center;
}

#lang_container {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
#lang_container_bg {
	position: absolute;
	bottom: 0px;
	padding-bottom: 20px;
	width: 100%;
	text-align: center;
	height: 46px;
	background-color: #fff;
}

.language {
	text-align: left;
	display: inline-block;
	margin-left: 3px;
	width: 90px;
	font-size: 15px;
	background-color: #fff;
}
.language .title {
	margin-bottom: 10px;
	padding-top: 4px;
}
.language .box {
	background-color: #000;
	height: 3px;
	width: 30px;
}
